[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "<2"
gspread = "*"
python-dotenv = "*"
black = "*"
openpyxl = "*"
tabulate = "*"
pretty-html-table = "*"
jinja2 = "*"
markdown = "*"
pdfkit = "*"
pypdf = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
